<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>Quaker Microfarm Data Dashboard {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {% block extend_css %}{% endblock %}
 </head>
 <body>
  {% block main %}{% endblock %}
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/svg.js/1.0rc3/svg.min.js"></script>
  {% block extend_js %}{% endblock %}
 </body
</html>
